*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
_posts/2022-09-11-lession-ifs.md
_posts/2022-09-06-Codeweb.md
.gitignore
_posts/2022-08-28-Primitives.md
_posts/2022-08-26-verify-tools.md
_posts/2022-08-22-python-notebook.md
.gitignore
_posts/2022-08-22-Java-notebook.md
_posts/2022-09-19-FRQ1.md
_posts/2022-09-19-frq1.md
